@font-face {
    font-family: "rop-custom-icon-font";
    src: url("../assets/rop-custom-icon-font.eot");
    src: url("../assets/rop-custom-icon-font.eot?#iefix") format("embedded-opentype"), url("../assets/rop-custom-icon-font.woff") format("woff"), url("../assets/rop-custom-icon-font.ttf") format("truetype"), url("../assets/rop-custom-icon-font.svg#rop-custom-icon-font") format("svg");
    font-weight: normal;
    font-style: normal;
}


#adminmenu #toplevel_page_TweetOldPost .wp-menu-image:before {
    font-family: "rop-custom-icon-font" !important;
    content: "a" !important;
}
