<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite>
            <directory prefix="test-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">includes/admin</directory>
            <exclude>
                <file>*index.php</file>
                <file>includes/admin/class-rop-admin.php</file>
                <file>includes/admin/class-rop-global-settings.php</file>
                <file>includes/admin/class-rop-rest-api.php</file>
                <file>includes/admin/abstract/class-rop-model-abstract.php</file>
                <directory suffix=".php">includes/admin/models</directory>
                <directory suffix=".php">includes/admin/helpers</directory>
                <directory suffix=".php">includes/admin/views</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>