/* Revive Network Upsell */
.rop-revive-network-admin-notice .dashicons {
color: #fb3300
}
.rop-revive-network-admin-notice {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
    min-height: 68px;
    padding: 20px 40px 60px 145px;
    position: relative;

}
.rop-revive-network-notice-logo {
    clear: both;
    content: "";
    display: block;
    background-image: url('../img/revive-network-logo.png');
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: 0 45%;
    width: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
}
.rop-revive-network-notice-title {
    font-size: 24px; 
}

.rop-revive-network-notice-body {
    font-size: 15px;
    font-weight: normal;
    margin: 5px 0;
}

.rop-revive-network-notice-body li {
    float: left;
    margin-right: 20px;
}