/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#rop_core .powered {
	color: #50596c;
}

#rop_core .powered a {
	color: #50596c;
}

#rop_core .powered a:hover {
	cursor: pointer;
}

#rop_core .title-panel {
	border-top: 4px solid #e85407;
}

#rop_core .card {
	max-width: 100%;
	margin: 10px 0;
}

#rop_core .vertical-align {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#rop_core .rop-image-placeholder .figure {
	margin :0;
	max-height: 250px;
}
#rop_core .rop-image-placeholder {
    margin: 0 auto;
}

@media (max-width: 960px) {
	#rop_core .panel .panel-header h1 {
		font-size: 21px;
	}
	#rop_core .sidebar.column {
		padding: 0;
		margin-top: 20px;
	}
}

@media (max-width: 1000px) {
	#rop_core .sidebar.column {
		width: 100%;
		padding: 0;
		margin-top: 20px;
	}
	#rop_core .panel {
		width: 100%;
	}
}