name: Deploy
on:
  push:
    tags:
      - "*"
jobs:
  tag:
    name: New version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Get The Version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.2"
      - name: Run Composer Install
        run: |
          npm ci
          npm run build
          composer install --no-dev --prefer-dist --no-progress --no-suggest
      - name: WordPress Plugin Deploy
        uses: 10up/action-wordpress-plugin-deploy@master
        env:
          SVN_PASSWORD: ${{ secrets.SVN_THEMEISLE_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_THEMEISLE_USERNAME }}
